// GLOBAL VAR
$section-pd: 80px 0;

$item-pd: 0 30px;
$item-pd-1: 0 60px;

$heading-mgb: 20px;
$heading-pdb: 10px;
$heading-div-mgb: 50px;

$line-height-0: 1.5;
$line-height-1: 30px;
$line-height-2: 45px;

$common-heading-fs : 35px;
$common-heading-color:#222;
$common-sub-heading-fs:20px;
$common-sub-heading-color: #7e7e7e;
$common-div-title-color: #333;
$common-div-title-fs: 30px;
$common-div-text-fs: 18px;

// COLOR VAR
$bg-dark: #222;
$bg-darker: #1b1b1b;

// FONT VAR
$font-main: 'Love Ya Like A Sister', cursive;
$font-common: 'Roboto', sans-serif;

